<html>
<head>
   <title>Our Memories</title>
   <link rel='stylesheet' type='text/css' href='{{asset("css/helper.css")}}' media="screen"/>
   <link rel='stylesheet' type='text/css' href='{{asset("css/scroll.css")}}' media="screen"/>
   <link rel="stylesheet" type="text/css" href="{{asset("css/picBox.css")}}" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
   <script src="{{asset('js/showAndHide.js')}}"></script>
</head>

    <body>
<div id="main" class="main">

	<div id="left" class="left">

		 <div class="picBox">
		 <a href="#"  id="ankitesh1" class="imgLink">
		    <img class="picBoxImg" src="{{asset("images/1.jpg")}}">
		    <p class="picBoxImgContent">msg</p>
		</a>
		 </div>

               <div class="picBox">
		 <a href="#"  id="ankitesh1" class="imgLink">
		    <img class="picBoxImg" src="{{asset("images/2.jpg")}}">
		    <p class="picBoxImgContent">msg</p>
		</a>
		 </div>


               <div class="picBox">
		 <a href="#"  id="ankitesh1" class="imgLink">
		    <img class="picBoxImg" src="{{asset("images/3.jpg")}}">
		    <p class="picBoxImgContent">msg</p>
		</a>
		 </div>


                <div class="picBox">
		 <a href="#"  id="ankitesh1" class="imgLink">
		    <img class="picBoxImg" src="{{asset("images/4.jpg")}}">
		    <p class="picBoxImgContent">msg</p>
		</a>
		 </div>

                 <div class="picBox">
		 <a href="#"  id="ankitesh1" class="imgLink">
		    <img class="picBoxImg" src="{{asset("images/5.jpg")}}">
		    <p class="picBoxImgContent">msg</p>
		</a>
		 </div>


	</div>

	<div id="right" class="right">

        <div class="rightUp">
            <p>right Up</p>
            <div class="rightUpMid" id="rightUpMid">
                 <img class="rightUpMidImg" id="rightUpMidImg" src="{{asset("images/1.jpg")}}">
            </div>
        </div>

        <div class="rightDwn" id="rightDwn">
                <p>right Down</p>
                <p>All the message and I am not good programmer as u think</p>

        </div>
	</div>
</div>
    </body>
</html>
